<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />

</head>
<body>
    <header id="header">
        <div class=" container-fluid nav_shop">
            <div id="log" class="log">
                <img src="~/Content/img/uugai.com_1578208899420.png" />
            </div>
            <ul class="f1">
                <li> <a href="#">二手</a></li>
                <li> <a href="#">求购</a></li>
                <li> <a href="/home/infors">校园动态</a></li>
            </ul>
            <div class="fr">
                @{
                    if (Session["user"] == null)
                    {
                        <div class="login" id="login">
                            <div class="dropdown">
                                <a data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span> 登录</a>
                            </div>
                        </div>

                    }
                }
            <ul>
                @if (Session["user"] == null)
                {
                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal2" id="reg">注册</a></li>
                }
                else
                {
                    <li><a href="/user/home" id="reg">个人中心</a></li>
                }

                <li><a href="javascript:void(0);" data-toggle="modal" onclick="stopPublish()">发布商品</a></li>
                <li><a href="javascript:void(0);">发布求购</a></li>
            </ul>

            </div>
        </div>
    </header>
    @RenderBody()
    <div class="bottom">
        <div class="container ">
            <div class="row">
                <div class="col-md-1 "></div>
                <div class="col-md-10 ">
                    <div class="row bottom-content">
                        <div class="col-md-4 bottom-left">

                            <p>联系我们 / contact us</p>
                            <p>Q 群：433981852</p> 
                            <p>Q Q：184203000</p>
                            <p>地址：广西桂林电子科技大学东区</p>

                        </div>


                        <div class="col-md-3 ">
                            <div class="ewm_box">
                                <img width="106" height="106" alt="微信公众号" src="https://api.youzixy.com/public/uploads/attach/2019/10/08/5d9c2ef5218df.png">
                                <p>关注微信公众平台</p>
                            </div>
                        </div>

                        <div class="col-md-5 bottom-right">
                            <div>
                                <p> TEL:17602842068</p>
                                <div> <span class="btn btn-danger btn-lg">24小时在线客服</span>     </div>
                                <div>  <i class="layui-icon layui-icon-login-wechat"></i> <i class="layui-icon  layui-icon-login-qq"></i>   <i class="layui-icon layui-icon-login-weibo"></i>      </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 "></div>
                </div>
            </div>

        </div>

    </div>



    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--登陆框头部-->
                <div class="modal-header">
                    <h4 class="modal-title">发布产品</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>

                <!--登陆框中间部分(from表单)-->
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <!--用户框-->
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="" required="required" id="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">简介</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" placeholder="简介" id="profile"></textarea>
                            </div>
                        </div>
                        <!--密码框-->
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">标价</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="noe_price" placeholder="数字，想卖的价格" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">原价</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="old_price" placeholder="数字，购买的价格" required="required">
                                <input id="imgurl" placeholder="" required="required" type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">分类</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label for="sel1">单选下拉菜单:</label>
                                    <select class="form-control" id="sort">
                                        <option>数码产品</option>
                                        <option>虚拟产品</option>
                                        <option>书籍教材</option>
                                        <option>衣帽雨伞</option>
                                        <option>体育健身</option>
                                        <option>家用电器</option>
                                        <option>代步工具</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="layui-card-header">
                                <button type="button" class="layui-btn" id="test1">
                                    <i class="layui-icon">&#xe67c;</i>上传图片
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a href="javascript:void(0);" class="btn btn-primary" onclick="addProduct()">发布</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--登陆框头部-->
                <div class="modal-header">

                    <h4 class="modal-title">登录</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>

                </div>
                <!--登陆框中间部分(from表单)-->
                <div class="modal-body">
                    <form class="form-horizontal" role="form" method="post" action="/user/login">
                        <!--用户框-->
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">账户</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" placeholder="账户名" required="required">
                            </div>
                        </div>
                        <!--密码框-->
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label"> 密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" placeholder="密码" required="required">
                            </div>
                        </div>

                        <!--记住密码-->
                        <!--登陆按钮-->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--登陆框头部-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>

                </div>
                <!--登陆框中间部分(from表单)-->
                <div class="modal-body">
                    <form class="form-horizontal" role="form" method="post" action="/user/userRegister">
                        <!--用户框-->
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">账户</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="usernameReg" placeholder="账户名" required="required">
                            </div>
                        </div>
                        <!--密码框-->
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label"> 密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="passwordReg" placeholder="密码" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" onclick="checkState()" class="btn btn-primary">注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
